:root {
  --white-001: #e5e5e5;
  --white-002: #fff;
  --black-001: #333;
  --black-002: #000;

  --font-lg: 35px;
  --font-md: 18px;
  --font-sm: 13px;
}

.blog-navbar {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  padding: 25px 0px;
  background-color: #fff;
}

.article-title {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid var(--white-001);
  line-height: 0.1em;
  margin: 10px 0 20px;
}

.article-title span {
  background: var(--white-002);
  padding: 0 10px;
  font-size: var(--font-md);
  font-weight: 600;
  text-transform: capitalize;
}

.bg-title {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  padding-top: 5%;
  color: #fff;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
}
.wrap-blog {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

.blog {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 15px;
  border: 2px solid #ebebeb;
  border-radius: 18px;
  overflow: hidden;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.blog div h3 {
  margin: 0;
  font-size: 18px;
  padding-bottom: 10px;
  font-weight: 600;
  color: black;
}

.blog div p {
  color: black;
  font-size: 15px;
}

.close-modal {
  display: none !important;
}

pre::-webkit-scrollbar {
  background: #b3bccc;
}
pre::-webkit-scrollbar-thumb {
  background: #eee;
  border-radius: 5px;
}
pre {
  background: #414449;
  color: #b3bccc;
  padding: 15px;
  font-size: 13pt;
  tab-size: 4;
  -webkit-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.75);
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.75);
}
